<div class="form-body" class="container-fluid">
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h1>Forgot your password ?</h1>
                    <p>Don't worry! Just fill in your email and we'll send a link to reset password</p>

                    <%if(errors){ for(let i=0; i < errors.length; i++) {%>
                        <div class="alert alert-danger" role="alert">
                            <%=`${errors[i].param}: ${errors[i].msg}`;%>
                        </div>
                        <%}}%>
                            <%if(notifications){ for(let i=0; i < notifications.length; i++) {%>
                                <div class="alert alert-success" role="alert">
                                    <%=notifications[i]%>
                                </div>
                                <%}}%>

                                    <form method="POST">
                                        <input class="form-control" type="text" name="email" placeholder="Email"
                                            required>
                                        <div class="form-button">
                                            <button id="submit" type="submit" class="ibtn">SEND</button>
                                        </div>
                                    </form>
                                    <div class="homepage"><a href="/"><i class="fas fa-arrow-left"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>