<div class="form-body" class="container-fluid">
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h1>Sign In</h1>
                    <p class="slogan">LET'S MAKE <span style="color: #e42b66;">CINEMA</span> GREAT AGAIN!</p>

                    <%if(errors){
                        for(let i = 0; i < errors.length; i++) {%>
                        <div class="alert alert-danger" role="alert">
                            <%=errors[i]%>
                        </div>
                    <%}}%>
                    <%if(notifications){
                        for(let i = 0; i < notifications.length; i++) {%>
                        <div class="alert alert-success" role="alert">
                            <%=notifications[i]%>
                        </div>
                    <%}}%>

                    <form method="POST">
                        <input class="form-control" type="text" name="username" placeholder="Email" required>
                        <input class="form-control" type="password" name="password" placeholder="Password" required>
                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">LOGIN</button>
                        </div>
                        <div class="register-link">
                            <p>Don't have an account ? <a href="/auth/register"> Register</a></p>
                        </div>
                        <div class="register-link">
                            <p>Forgot your password ? <a href="/auth/forgotpassword"> Forgot password</a></p>
                        </div>
                        <hr>
                    </form>
                    < <div class="form-button form-btn2 formnovalidate">
                        <input id="submit" value="LOGIN WITH GOOGLE" type="button" class="ibtn gg-btn" onclick="window.location.href='/auth/google'" style="text-align: center;"></input>
                        <input id="submit" value="LOGIN WITH FACEBOOK" type="button" class="ibtn fb-btn" onclick="window.location.href='/auth/facebook'" style="text-align: center;"></input>
                    </div>
                    <div class="homepage"><a href="/"><i class="fas fa-arrow-left"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>