<div class="form-body" class="container-fluid">
    <div class="row">
        <div class="img-holder">
            <div class="bg"></div>
        </div>
        <div class="form-holder">
            <div class="form-content">
                <div class="form-items">
                    <h1>Reset your password</h1>
                    <form method="POST">
                        <input class="form-control" type="text" name="newPassword" placeholder="New password" required>                        
                        <div class="form-button">
                            <button id="submit" type="submit" class="ibtn">RESET</button>
                        </div>
                    </form>
                    <div class="homepage"><a href="/"><i class="fas fa-arrow-left"></i></a></div>
                </div>
            </div>
        </div>
    </div>
</div>