

<div class="container cinemas">
	<div class="title">
		<h1>CINEMAS</h1>
		<hr>
	</div>
	<div class="cinema-area">
		<h2>Cinema Area</h2>
		<ul class="nav">
			<% if(movieTheaterCluster){ %>
				<% let i = 1; %>
					<% movieTheaterCluster.forEach(element => {%>
						<% if(i==1){ %>
							<li class="nav-item"><a href="#" class="nav-link" id="show-movie-theater-li-1" onclick="ShowMovieTheater('<%= element.id %>')"><%- element.Name %></a></li>
						<% } else{%>
							<li class="nav-item"><a href="#" class="nav-link" onclick="ShowMovieTheater('<%= element.id %>')"><%- element.Name %></a></li>
						<% } %>
						<% i++;%>
					<% })%>
			<% }%>
		</ul>
		<hr>
	</div>
	<div class="cinema-list">
		<h2>Cinema List</h2>
		<div id="show-movie-theater">
			<ul class="nav">
			</ul>
		</div>
	</div>
</div>

<div id="theater" class="container theater" style="display: none;">
	<h1 style="color: #bd034d;">THEATER</h1>
	<div class="theater-name">
		<h2 id="theater-name">Cinema Q1</h2>
		<p id="theater-address">Tầng 3, TTTM Vincom Center Đồng Khởi, 72 Lê Thánh Tôn & 45A Lý Tự Trọng, Quận 1, TP.HCM</p>
	</div>
	<div class="theater-info" id="theater-image">
		<img src="/images/theater.jpg" class="img-fluid" alt="theater">
	</div>
	<div class="theater-button">
		<div class="button-row">
			<div class="movie-button">
				<button class="round-red-btn" onclick="VisibilityShowtime()">Showtimes</button>
				<button class="round-red-btn" onclick="VisibilityDetail()"> Details</button>
			</div>
		</div>
	</div>
	<div id="showtimes" class="showtimes">
		
	</div>
	<div id="details" style="display: none; margin-top: 20px;" class="details">
		<div class="img-price">
			<img src="/images/price.png" class="img-fluid" alt="price">
		</div>
		<ul class="nav details">
			<li class="nav-item">- Dành cho khách hàng tại rạp Gold Class, trà và cà phê được phục vụ miễn phí 30 phút/1
				lần trong suốt suất chiếu.</li>
			<li class="nav-item">- Vui lòng xuất trình thẻ thành viên CGV trước khi mua vé để được tích điểm.</li>
			<li class="nav-item">- Giá vé khi đặt vé trực tuyến trên website và ứng dụng CGV là giá vé người lớn. Các
				loại vé như học sinh-sinh viên, vé trẻ em, vé người cao tuổi, vé U22 vui lòng mua trực tiếp tại quầy.
			</li>
			<li class="nav-item">- Vé trẻ em chỉ xuất khi có sự hiện diện của trẻ dưới 1m3 và trên 2 tuổi.</li>
		</ul>
	</div>
</div>


<script src="https://bundle.run/buffer@6.0.3"></script>

<script>
window.onload = function() {
	document.getElementById("show-movie-theater-li-1").focus();
	document.getElementById("show-movie-theater-li-1").click();
};
function ShowMovieTheater(id)
{
	 //ajax 
	$.ajax({
    type: "GET",
    url: "/movietheater/getlistcinema?locationid="+id,
    contentType: "application/json",
    dataType: 'json',
    success: function(data)
    {
		$('#show-movie-theater > ul').empty();
		if(data && data!="F")
		{
			data.forEach(element => {
				var buf = new buffer.Buffer.from(element.Image.data);
				var str = new TextDecoder().decode(buf.buffer);
				$('#show-movie-theater > ul').append('<li class="nav-item"><a href="#" onclick="ShowDetailMovieTheater('+element.id+')" class="nav-link">'+ element.Name+'</a></li>');
			});
		}
		else
		{
			alert("Somthing error !!!");
		}
    }
  })
}

function ShowDetailMovieTheater(id)
{
	VisibilityShowtime();
	 //ajax 
	$.ajax({
    type: "GET",
    url: "/movietheater/getcinema?locationid="+id,
    contentType: "application/json",
    dataType: 'json',
    success: function(data)
    {
		$('#theater').css("display","none");
		$('#theater').css("display","block");
		if(data && data!="F")
		{
			$('#theater-name').empty();
			$('#theater-name').text(data.Name);
			$('#theater-address').text(data.Address);
		}
		else
		{
			alert("Somthing error !!!");
		}
    }
  });
  	 //ajax 
	$.ajax({
    type: "GET",
    url: "/movietheater/gettimemovieofmovietheater?locationid="+id,
    contentType: "application/json",
    dataType: 'json',
    success: function(data)
    {
		$("#showtimes").empty();
		if(data && data!="F")
		{
			
			data[0].forEach(elementNameMovie=>{
				$("#showtimes").append('<div class="movies" id="div-'+elementNameMovie.id+'"><p class="movie-name">'+ elementNameMovie.Name+ '</p><ul class="nav times" id="ul-showtimes-'+elementNameMovie.id+'"></ul></div><hr>');
				$('#ul-showtimes').empty();
				data[1].forEach(elementTimeMovie=>{
					if(elementNameMovie.Name==elementTimeMovie.Name)
					{
						$("#ul-showtimes-"+elementNameMovie.id).append('<li class="nav-item"><a href="/booking?id='+elementNameMovie.id+'" class="nav-link" id="borderTagA">'+elementTimeMovie.BeginAt+'</a></li>');
					}
				})
				if($("#ul-showtimes-"+elementNameMovie.id +' li').length==0)
				{
					$("#div-"+elementNameMovie.id).remove();
				}
			})
		}
		else
		{
			alert("Somthing error !!!");
		}
    }
  });
}


function VisibilityDetail()
{
	$("#showtimes").css("display","none");
	$('#details').css("display","block");
}

function VisibilityShowtime()
{
	$("#details").css("display","none");
	$('#showtimes').css("display","block");
}

	

</script>