	<!-- main-slider -->
	<section class="w3l-main-slider position-relative" id="home">
		<div class="companies20-content">
			<div class="owl-one owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2">
							<div class="banner-info">
								<h3>Movie Trailers</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
										Consequuntur hic odio
										voluptatem tenetur consequatur.</span></p>
								<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Trailer</h6>
								</a>
								<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info  banner-view banner-top1 bg bg2">
							<div class="banner-info">
								<h3>Movie Trailers</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
										Consequuntur hic odio
										voluptatem tenetur consequatur.</span></p>
								<a href="#small-dialog2" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Trailer</h6>
								</a>
								<div id="small-dialog2" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top2 bg bg2">
							<div class="banner-info">
								<h3>Movie Trailers</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
										Consequuntur hic odio
										voluptatem tenetur consequatur.</span></p>
								<a href="#small-dialog3" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Trailer</h6>
								</a>
								<div id="small-dialog3" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top3 bg bg2">
							<div class="banner-info">
								<h3>Movie Trailers</h3>
								<p>Lorem ipsum dolor sit amet consectetur adipisicing elit.<span class="over-para">
										Consequuntur hic odio
										voluptatem tenetur consequatur.</span></p>
								<a href="#small-dialog4" class="popup-with-zoom-anim play-view1">
									<span class="video-play-icon">
										<span class="fa fa-play"></span>
									</span>
									<h6>Watch Trailer</h6>
								</a>
								<div id="small-dialog4" class="zoom-anim-dialog mfp-hide">
									<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
										allowfullscreen=""></iframe>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
		</div>
	</section>
	<!-- //banner-slider-->
	<!-- main-slider -->
	<!--grids-sec1-->
	<section class="w3l-grids">
		<div class="grids-main py-5">
			<div class="container py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny">
							<h3 class="hny-title">Popular Movies</h3>
						</div>
					</div>
				</div>
				<div class="w3l-populohny-grids">
					<div class="item vhny-grid">
						<div class="box16">
							<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
								<figure>
									<img class="img-fluid" src="/images/m7.jpg" alt="">
								</figure>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
							<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
							<div class="box-content">
								<h3 class="title">Frozen II</h3>
								<div class="post">
									<button type="button" class="btn btn-1">See Detail</button>
									<button type="button" class="btn btn-1">Buy ticket</button>
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>
	<!--//grids-sec1-->
	<!--grids-sec2-->
	<section class="w3l-grids">
		<div class="grids-main py-5-2">
			<div class="container py-lg-3">
				<div class="headerhny-title">
					<div class="w3l-title-grids">
						<div class="headerhny">
							<h3 class="hny-title">Now Showing</h3>
						</div>
					</div>
				</div>
				<div class="owl-three owl-carousel owl-theme">
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
								<figure>
									<img class="img-fluid" src="/images/n1.jpg" alt="">
								</figure>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
							<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
							<div class="box-content">
								<h3 class="title now-showing">Name</h3>
								<div class="post">
									<button type="button" class="btn btn-2">See Detail</button>
									<button type="button" class="btn btn-2">Buy ticket</button>
								</div>
							</div>
						</div>
					</div>
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
								<figure>
									<img class="img-fluid" src="/images/n2.jpg" alt="">
								</figure>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
							<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
							<div class="box-content">
								<h3 class="title now-showing">Name</h3>
								<div class="post">
									<button type="button" class="btn btn-2">See Detail</button>
									<button type="button" class="btn btn-2">Buy ticket</button>
								</div>
							</div>
						</div>
					</div>
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
								<figure>
									<img class="img-fluid" src="/images/n3.jpg" alt="">
								</figure>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
							<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
							<div class="box-content">
								<h3 class="title now-showing">Name</h3>
								<div class="post">
									<button type="button" class="btn btn-2">See Detail</button>
									<button type="button" class="btn btn-2">Buy ticket</button>
								</div>
							</div>
						</div>
					</div>
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
								<figure>
									<img class="img-fluid" src="/images/n4.jpg" alt="">
								</figure>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
							<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
							<div class="box-content">
								<h3 class="title now-showing">Name</h3>
								<div class="post">
									<button type="button" class="btn btn-2">See Detail</button>
									<button type="button" class="btn btn-2">Buy ticket</button>
								</div>
							</div>
						</div>
					</div>
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
								<figure>
									<img class="img-fluid" src="/images/n5.jpg" alt="">
								</figure>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
							<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
							<div class="box-content">
								<h3 class="title now-showing">Name</h3>
								<div class="post">
									<button type="button" class="btn btn-2">See Detail</button>
									<button type="button" class="btn btn-2">Buy ticket</button>
								</div>
							</div>
						</div>
					</div>
					<div class="item vhny-grid">
						<div class="box16 mb-0">
							<a href="#small-dialog1" class="popup-with-zoom-anim play-view1">
								<figure>
									<img class="img-fluid" src="/images/n6.jpg" alt="">
								</figure>
								<span class="fa fa-play video-icon" aria-hidden="true"></span>
							</a>
							<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
								<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
									allowfullscreen=""></iframe>
							</div>
							<div class="box-content">
								<h3 class="title now-showing">Name</h3>
								<div class="post">
									<button type="button" class="btn btn-2">See Detail</button>
									<button type="button" class="btn btn-2">Buy ticket</button>
								</div>
							</div>
						</div>
					</div>
				</div>
				
			</div>

		</div>
	</section>
	<!--grids-sec2-->
	<!--mid-slider -->
	<section class="w3l-mid-slider position-relative">
		<div class="headerhny-title">
			<div class="w3l-title-grids">
				<div class="headerhny">
					<h3 class="hny-title coming-soon">Coming Soon</h3>
				</div>
			</div>
		</div>
		<div class="companies20-content">
			<div class="owl-mid owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info mid-view bg bg2">
							<div class="container">
								<div class="mid-info">
									<h3>Avengers: Endgame</h3>
									<p>2019 ‧ Action/Sci-fi ‧ 3h 2m</p>
									<a class="watch popup-with-zoom-anim play-view1" href="#small-dialog1"><span class="fa fa-play" aria-hidden="true"></span>
										Watch Trailer</a>
									<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
										<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
												allowfullscreen=""></iframe>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info mid-view bg bg2">
							<div class="container">
								<div class="mid-info">
									<h3>Avengers: Endgame</h3>
									<p>2019 ‧ Action/Sci-fi ‧ 3h 2m</p>
									<a class="watch popup-with-zoom-anim play-view1" href="#small-dialog1"><span class="fa fa-play" aria-hidden="true"></span>
										Watch Trailer</a>
									<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
										<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
												allowfullscreen=""></iframe>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info mid-view bg bg2">
							<div class="container">
								<div class="mid-info">
									<h3>Avengers: Endgame</h3>
									<p>2019 ‧ Action/Sci-fi ‧ 3h 2m</p>
									<a class="watch popup-with-zoom-anim play-view1" href="#small-dialog1"><span class="fa fa-play" aria-hidden="true"></span>
										Watch Trailer</a>
									<div id="small-dialog1" class="zoom-anim-dialog mfp-hide">
										<iframe src="https://player.vimeo.com/video/305053443" allow="autoplay; fullscreen"
												allowfullscreen=""></iframe>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				
			</div>
		</div>
	</section>
	<!-- //mid-slider-->

