<!--grids-sec1-->
<section class="w3l-grids">
	<div class="grids-main py-5">
		<div class="container py-lg-3">
			<div class="headerhny-title">
				<div class="w3l-title-grids">
					<div class="headerhny">
						<h3 class="hny-title">All Movies</h3>
					</div>
				</div>
			</div>
			<div class="w3l-populohny-grids">
				<div class="item vhny-grid">
					<div class="box16">
						<a href="#small-dialog-popular1" class="popup-with-zoom-anim play-view1">
							<figure>
								<img class="img-fluid" src="/images/m7.jpg" alt="">
							</figure>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
						<div id="small-dialog-popular1" class="zoom-anim-dialog mfp-hide">
							<iframe src="https://player.vimeo.com/video/350309430" allow="autoplay; fullscreen"
								allowfullscreen=""></iframe>
						</div>
						<div class="box-content">
							<h3 class="title">Frozen II</h3>
							<div class="post">
								<button type="button" class="btn btn-1">See Detail</button>
								<button type="button" class="btn btn-1">Buy ticket</button>
							</div>
						</div>
					</div>
				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<a href="#small-dialog-popular1" class="popup-with-zoom-anim play-view1">
							<figure>
								<img class="img-fluid" src="/images/m7.jpg" alt="">
							</figure>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
						<div id="small-dialog-popular1" class="zoom-anim-dialog mfp-hide">
							<iframe src="https://player.vimeo.com/video/350309430" allow="autoplay; fullscreen"
								allowfullscreen=""></iframe>
						</div>
						<div class="box-content">
							<h3 class="title">Frozen II</h3>
							<div class="post">
								<button type="button" class="btn btn-1">See Detail</button>
								<button type="button" class="btn btn-1">Buy ticket</button>
							</div>
						</div>
					</div>
				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<a href="#small-dialog-popular1" class="popup-with-zoom-anim play-view1">
							<figure>
								<img class="img-fluid" src="/images/m7.jpg" alt="">
							</figure>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
						<div id="small-dialog-popular1" class="zoom-anim-dialog mfp-hide">
							<iframe src="https://player.vimeo.com/video/350309430" allow="autoplay; fullscreen"
								allowfullscreen=""></iframe>
						</div>
						<div class="box-content">
							<h3 class="title">Frozen II</h3>
							<div class="post">
								<button type="button" class="btn btn-1">See Detail</button>
								<button type="button" class="btn btn-1">Buy ticket</button>
							</div>
						</div>
					</div>
				</div>
				<div class="item vhny-grid">
					<div class="box16">
						<a href="#small-dialog-popular1" class="popup-with-zoom-anim play-view1">
							<figure>
								<img class="img-fluid" src="/images/m7.jpg" alt="">
							</figure>
							<span class="fa fa-play video-icon" aria-hidden="true"></span>
						</a>
						<div id="small-dialog-popular1" class="zoom-anim-dialog mfp-hide">
							<iframe src="https://player.vimeo.com/video/350309430" allow="autoplay; fullscreen"
								allowfullscreen=""></iframe>
						</div>
						<div class="box-content">
							<h3 class="title">Frozen II</h3>
							<div class="post">
								<button type="button" class="btn btn-1">See Detail</button>
								<button type="button" class="btn btn-1">Buy ticket</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- ----------Phân trang----- -->
			<div class="col-12 d-flex justify-content-center">
				<ul class="pagination" style="margin-top: 1rem;">
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Previous">
							<span aria-hidden="true">&laquo;</span>
							<span class="sr-only">Previous</span>
						</a>
					</li>
					<li class="page-item"><a class="page-link" href="#">1</a></li>
					<li class="page-item"><a class="page-link" href="#">2</a></li>
					<li class="page-item">
						<a class="page-link" href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							<span class="sr-only">Next</span>
						</a>
					</li>
				</ul>
			</div>
			<!-- ------------------------------------ -->	
		</div>
	</div>
</section>
<!--//grids-sec1-->
<!--grids-sec2-->