<br><br><br><br>
<div class="container">
    <div class="row">
      <div class="col">
        <%- include('../../Layouts/layout_Information/MenuVertical.ejs'); %>
      </div>
      <div class="col">
        <h3>Booking history</h3><br>
        <% var len=Bookings.length;
            if(len>0){ 
              for(var item of Bookings){ %>
                <ul>
                  <b><%= item.createdAt %></b>
                  <li>Movie: <%= item.nameMovie %></li>
                  <li>Movie theater: <%= item.nameMovieTheater %></li>
                </ul>      
              <% } %>
        <%} else { %>
              <p>You don't have any order</p>
        <% } %>
      </div>
    </div>
  </div>
