<div class="container info">
  <div class="row">
    <div class="col-sm-4 bar">
      <%- include('../../Layouts/layout_Information/MenuVertical.ejs'); %>
    </div>
    <div class="col-sm-8 information">
      <h3>CHANGE INFORMATION</h3>
      <form method="POST">
        <div class="form-group">
          <label for="name"><strong>Name:</strong></label><br>
          <input type="text" id="name" name="name" value="<%= currentUser.Name %>">
        </div>
        <div class="form-group">
          <label for="phone"><b>Phone:</b></label><br>
          <input type="number" id="phone" name="phone" value="<%= currentUser.Phone %>">
        </div>
        <div class="form-group">
          <label><strong>Email address:</strong></label>
          <p style="font-size: 1.1rem;">
            <%= currentUser.Email %>
          </p>

        </div>
        <button id="submit" type="submit">Save</button>
      </form>
    </div>
  </div>
</div>
