<!-- -----------Main----- -->
<div class="main-panel">
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title">
            <i class="fa fa-list" aria-hidden="true"></i>
            </span> Movie Management
        </h3>
    </div>
    <!--------Cụm rạp------>
    <div class="row">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Danh sách phim</h4>
                    <!--------- Bảng----- -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th> # </th>
                                    <th> Tên phim </th>
                                    <th> Thời lượng</th>
                                    <th> Ngày công chiếu</th>
                                    <th> Poster </th>
                                    <th> Sửa</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" value="" id=""></td>
                                    <td> 1 </td>
                                    <td> Avengers: Endgame </td>
                                    <td> 3h40p</td>
                                    <td> 06/06/2021</td>
                                    <td><img class="poster" src="/images/n1.jpg" alt=""></td>
                                    <td>
                                        <button type="button" class="btn btn-inverse-info btn-icon" data-toggle="modal" data-target="#edit-movie">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" value="" id=""></td>
                                    <td> 2 </td>
                                    <td> Frozen 2 </td>
                                    <td> 2h30p</td>
                                    <td> 06/04/2021</td>
                                    <td><img class="poster" src="/images/n2.jpg" alt=""></td>
                                    <td>
                                        <button type="button" class="btn btn-inverse-info btn-icon" data-toggle="modal" data-target="#edit-movie">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                    </td>
                                </tr>
                            
                            </tbody>
                        </table>
                        <!-- -------------------- -->
                          <!------- POPUP sửa phim--- -->
                          <div class="modal fade" id="edit-movie" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="">Sửa phim</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <div class="form-group">
                                      <label for="movie-name"" class="col-form-label">Tên phim:</label>
                                      <input type="text" class="form-control" id="movie-name" value="Avengers: Endgame">
                                    </div>
                                    <div class="form-group">
                                        <label for="movie-time" class="col-form-label">Thời lượng:</label>
                                        <input type="text" class="form-control" id="movie-time" value="3h40p">
                                      </div>
                                    <div class="form-group">
                                        <label for="movie-date" class="col-form-label">Ngày công chiếu:</label>
                                        <input type="text" class="form-control" id="movie-date" value="06/06/2021">
                                    </div>
                                    <div class="form-group">
                                        <label for="movie-poster" class="col-form-label">Poster:</label><br>
                                        <img class="poster" src="/images/n1.jpg" alt="">
                                        <input type="file" class="form-control" id="movie-poster" accept="image/png, image/jpg, image/jpeg">                  
                                      </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-dark">Save</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-------------------------------->
                    </div>
                    <!-- Button thêm cụm rạp -->
                    <div class="row">
                        <div class="col-6 grid-margin" style="margin-top: 0.5rem;">
                            <button type="button" class="btn btn-gradient-dark" data-toggle="modal" data-target="#add-movie">Thêm</button>
                            <button type="button" class="btn btn-inverse-danger "> <span><i class="fa fa-trash" aria-hidden="true"></i></span> Xoá lựa chọn</button>
                        </div>
                        <!-- ---------------------- -->
                        <!------- POPUP thêm phim--- -->
                        <div class="modal fade" id="add-movie" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="">Thêm phim</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <div class="form-group">
                                      <label for="movie-name"" class="col-form-label">Tên phim:</label>
                                      <input type="text" class="form-control" id="movie-name" >
                                    </div>
                                    <div class="form-group">
                                        <label for="movie-time" class="col-form-label">Thời lượng:</label>
                                        <input type="text" class="form-control" id="movie-time" >
                                      </div>
                                    <div class="form-group">
                                        <label for="movie-date" class="col-form-label">Ngày công chiếu:</label>
                                        <input type="text" class="form-control" id="movie-date" >
                                    </div>
                                    <div class="form-group">
                                        <label for="movie-poster" class="col-form-label">Poster:</label>
                                        <input type="file" class="form-control" id="movie-poster" accept="image/png, image/jpg, image/jpeg" >
                                      </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-dark">Add</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-------------------------------->
                          <!-- ----------Phân trang----- -->
                        <div class="col-6 grid-margin">
                            <ul class="pagination" style="margin-top: 1rem; float: right;">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- ------------------------------------ -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- ---------Suất chiếu------- -->
    <div class="row">
        <div class="col-md-12 grid-margin ">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title" style="text-align: center;">Danh sách suất chiếu</h4>
                    <!-- Chọn cụm -->
                    <div class="select" style="text-align: center;">
                        <select class="custom-select">
                            <option selected>Chọn cụm rạp</option>
                            <option value="1">Hồ Chí Minh</option>
                            <option value="2">Hà Nội</option>
                            <option value="3">Đà Nẵng</option>
                          </select>
                          <!-- ----------- -->
                          <!-- Chọn cụm -->
                        <select class="custom-select">
                            <option selected>Chọn rạp phim</option>
                            <option value="1">Cinema Q1</option>
                            <option value="2">Cinema Q2</option>
                            <option value="3">Cinema Q3</option>
                          </select>
                          <!-- ----------- -->
                          <select class="custom-select">
                            <option selected>Chọn phim</option>
                            <option value="1">Tất cả</option>
                            <option value="2">Avengers: Endgame</option>
                            <option value="3">Frozen 2</option>
                            
                          </select>
                    </div>
                      <!-- ----------- -->
                      <!-- Bảng -->
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th> # </th>
                                    <th> Tên phim</th>
                                    <th> Ngày chiếu</th>
                                    <th> Bắt đầu </th>
                                    <th> Kết thúc</th>
                                    <th> Sửa </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" value="" id=""></td>
                                    <td> 1 </td>
                                    <td> Avengers: Endgame </td>
                                    <td> 06/06/2021</td>
                                    <td> 20:00 </td>
                                    <td> 23:40</td>
                                    <td>
                                        <button type="button" class="btn btn-inverse-info btn-icon" data-toggle="modal" data-target="#edit-showtime">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" value="" id=""></td>
                                    <td> 2 </td>
                                    <td> Avengers: Endgame </td>
                                    <td> 06/06/2021</td>
                                    <td> 15:00 </td>
                                    <td> 18:40</td>
                                    <td>
                                        <button type="button" class="btn btn-inverse-info btn-icon" data-toggle="modal" data-target="#edit-showtime">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        
                                    </td>
                                </tr>
                                <tr>
                                    <td><input class="form-check-input" type="checkbox" value="" id=""></td>
                                    <td> 3 </td>
                                    <td> Frozen 2 </td>
                                    <td> 06/06/2021 </td>
                                    <td> 9:50</td>
                                    <td> 12:15</td>
                                    <td>
                                        <button type="button" class="btn btn-inverse-info btn-icon" data-toggle="modal" data-target="#edit-showtime">
                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                        </button>
                                        
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!------- POPUP sửa suất chiếu--- -->
                        <div class="modal fade" id="edit-showtime" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="">Sửa suất chiếu</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <div class="form-group">
                                      <label for="movie-name" class="col-form-label">Tên phim:</label>
                                      <input type="text" class="form-control" id="movie-name" value="Avengers: Endgame">
                                    </div>
                                    <div class="form-group">
                                        <label for="movie-date" class="col-form-label">Ngày chiếu:</label>
                                        <input type="date" class="form-control" id="movie-date" value="2021-06-06">
                                    </div>
                                    <div class="form-group">
                                        <label for="movie-start" class="col-form-label">Bắt đầu:</label>
                                        <input type="time" class="form-control" id="movie-start" value="20:00:00">
                                    </div>
                                    <div class="form-group">
                                        <label for="movie-end" class="col-form-label">Kết thúc:</label>
                                        <input type="time" class="form-control" id="movie-end" value="23:00:00">
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-dark">Save</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-------------------------------->
                    </div>
                    <!-- -------------------------- -->
                    <div class="row">
                        <!-- -----Button----- -->
                        <div class="col-6 grid-margin" style="margin-top: 0.5rem;">
                            <button type="button" class="btn btn-gradient-dark"  data-toggle="modal" data-target="#add-showtime">Thêm</button>
                            <button type="button" class="btn btn-inverse-danger "> <span><i class="fa fa-trash" aria-hidden="true"></i></span> Xoá lựa chọn</button>
                        </div>
                          <!------- POPUP thêm suất chiếu--- -->
                        <div class="modal fade" id="add-showtime" tabindex="-1" role="dialog">
                            <div class="modal-dialog" role="document">
                              <div class="modal-content">
                                <div class="modal-header">
                                  <h5 class="modal-title" id="">Thêm suất chiếu</h5>
                                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                  </button>
                                </div>
                                <div class="modal-body">
                                  <form>
                                    <div class="form-group">
                                      <label for="movie-name" class="col-form-label">Phim:</label><br>
                                      <select class="custom-select" style="width: 100%;">
                                        <option selected>Chọn phim</option>
                                        <option value="1">Avengers: Endgame</option>
                                        <option value="2">Frozen 2</option>
                                      </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="movie-date" class="col-form-label">Ngày chiếu:</label>
                                        <input type="date" class="form-control" id="movie-date">
                                    </div>
                                    <div class="form-group">
                                        <label for="movie-start" class="col-form-label">Bắt đầu:</label>
                                        <input type="time" class="form-control" id="movie-start" >
                                    </div>
                                    <div class="form-group">
                                        <label for="movie-end" class="col-form-label">Kết thúc:</label>
                                        <input type="time" class="form-control" id="movie-end" >
                                    </div>
                                  </form>
                                </div>
                                <div class="modal-footer">
                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                  <button type="button" class="btn btn-dark">Save</button>
                                </div>
                              </div>
                            </div>
                          </div>
                          <!-------------------------------->
                          <!-------- Phân trang--- -->
                        <div class="col-6 grid-margin">
                            <ul class="pagination" style="margin-top: 1rem; float: right;">
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                        <span class="sr-only">Previous</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" href="#">1</a></li>
                                <li class="page-item"><a class="page-link" href="#">2</a></li>
                                <li class="page-item"><a class="page-link" href="#">3</a></li>
                                <li class="page-item">
                                    <a class="page-link" href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                        <span class="sr-only">Next</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- ----------------------- -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

