<h3>ACCOUNT</h3>
<ul class="menu">
    <li class="nav-menu "><a href="/information/profile">My Profile</a></li>
    <li class="nav-menu "><a href="/information/tickets">Booking History</a></li>
</ul>

<style>
    label,
    input,
    p {
        font-size: 1.1rem;
        color: #444;
    }

    form {
        margin-left: 2rem;
    }

    input {
        padding: 0.5rem 1rem;
        width: 50%;

    }

    h3 {
        color: #df0e62;
        font-weight: bold;
    }


    input:focus {
        outline: #df0e62;
        border: 1px solid #df0e62;
        box-shadow: 0 0 5px #df0e62;
    }

    button {
        font-size: 1.1rem;
        padding: 0.5rem 2rem;
        background-color: #df0e62;
        border-radius: 5px;
        border-style: none;
        cursor: pointer;
        color: #fff;
    }

    button:hover {
        background-color: #bd034d;

    }

    .container.info {
        margin-top: 100px;
        min-height: 500px;
    }

    /* .container.info .row {
        height: 100vh;
    } */

    .form-group {
        margin: 1.5rem 0;
    }

    .menu {
        list-style: none;
        margin: 0;
        padding: 0;
        font-size: 1.1rem;
        font-weight: 600;
    }


    .menu .nav-menu {
        padding: 0.5rem 1.5rem;
        color: #444;
    }

    .menu .nav-menu a {
        text-decoration: inherit;
        color: inherit;
    }

    .menu .list-history {
        padding: 0 1.5rem;
        color: #444;
    }

    .menu-info {
        margin-bottom: 1rem;
        margin-left: 2rem;

    }

    .nav-menu:hover {
        background-color: #bd034d;
        color: #fff;
    }

    .menu-active {
        background-color: #df0e62;
        color: #fff !important;
    }
</style>

<!-- Active nav menu -->
<script type="text/javascript">
    const currentLocation = location.href;
    const menuList = document.querySelectorAll('.nav-menu')
    const menuItem = document.querySelectorAll('.nav-menu a');
    for (let i = 0; i < menuItem.length; i++) {
        if (menuItem[i].href === currentLocation) {
            menuList[i].className = "nav-menu menu-active";
        }
    }
</script>