<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/style.css">
	<title>
		<%- title %>
	</title>
	<link href="//fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,600&display=swap"
		rel="stylesheet">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css"
		href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
	<!-- header -->
	<header id="site-header" class="w3l-header fixed-top">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
			<div class="container">
				<h1><a class="navbar-brand" href="/"><span class="fa fa-film icon-log" aria-hidden="true"></span>
						Cinema+</a></h1>
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"></span> -->
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item">
							<a class="nav-link" href="/movie">Showing</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="/movietheater">Cinemas</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="/information/tickets"></span>Tickets</a>
						</li>
						<li class="nav-item">
							<p class="nav-link">|</p>
						</li>
						<div class="dropdown">
							<li class="nav-item dropbtn">
								<a class="nav-link"
									href="<%- currentUser ? '/information/profile' : '/auth/login' %>"><span
										class="fa fa-user" aria-hidden="true"></span>
									<%- currentUser ? 'Hello, ' + currentUser.Name : 'Sign In' %>
								</a>
							</li>
							<% if(currentUser){ %>
								<div class="dropdown-content">
									<li class="nav-item">
										<a class="nav-link" href="/auth/logout"><span class="fa fa-sign-out"
												aria-hidden="true"></span>Logout</a>
									</li>
								</div>
						</div>


						<!-- <li class="nav-item">
								<p class="nav-link">|</p>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/auth/logout"><span class="fa fa-sign-out"
										aria-hidden="true"></span>Log out</a>
							</li> -->
						<% } %>
					</ul>
				</div>
			</div>
		</nav>
		<!--//nav-->
	</header>
	<!-- //header -->

	<%-body%>

		<!-- footer-66 -->
		<footer class="w3l-footer">
			<div class="footer-brand text-center">
				<div class="footer-brand-img"></div>
			</div>
			<section class="footer-inner-main">
				<div class="footer-hny-grids py-5">
					<div class="container py-lg-4">
						<div class="text-txt">
							<div class="right-side">
								<div class="row footer-links">
									<div class="col-md-3 col-sm-6 sub-two-right mt-5">
										<h6>Movies</h6>
										<ul>
											<li><a href="#">Popular Movies</a></li>
											<li><a href="#">Now Showings</a></li>
											<li><a href="#">Upcoming Movies</a></li>

										</ul>
									</div>
									<div class="col-md-3 col-sm-6 sub-two-right mt-5">
										<h6>Information</h6>
										<ul>
											<li><a href="/">Home</a> </li>
											<li><a href="#">About</a> </li>
											<li><a href="/auth/login">Login</a></li>
											<li><a href="#">Contact Us</a></li>
										</ul>
									</div>
									<div class="col-md-6 col-sm-6 sub-two-right mt-5">
										<h6>Newsletter</h6>
										<form action="#" class="subscribe mb-3" method="post">
											<input type="email" name="email" placeholder="Your Email Address"
												required="">
											<button><span class="fa fa-envelope-o"></span></button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				</div>
				<div class="below-section">
					<div class="container">
						<div class="copyright-footer">
							<div class="columns text-lg-left">
								<p>&copy; 2021 Cinema+ | All rights reserved</p>
							</div>
							<ul class="social text-lg-right">
								<li><a href="#facebook"><span class="fa fa-facebook" aria-hidden="true"></span></a>
								</li>
								<li><a href="#linkedin"><span class="fa fa-linkedin" aria-hidden="true"></span></a>
								</li>
								<li><a href="#twitter"><span class="fa fa-twitter" aria-hidden="true"></span></a>
								</li>
								<li><a href="#google"><span class="fa fa-google-plus" aria-hidden="true"></span></a>
								</li>

							</ul>
						</div>
					</div>
				</div>
				<!-- copyright -->

				<!-- move top button-->
				<button onclick="topFunction()" id="movetop" title="Go to top">
					<span class="fa fa-arrow-up" aria-hidden="true"></span>
				</button>
				<script>
					window.onscroll = function () {
						scrollFunction()
					};

					function scrollFunction() {
						if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
							document.getElementById("movetop").style.display = "block";
						} else {
							document.getElementById("movetop").style.display = "none";
						}
					}

					function topFunction() {
						document.body.scrollTop = 0;
						document.documentElement.scrollTop = 0;
					}
				</script>
				<!-- /move top -->

			</section>
		</footer>
		<!--//footer- -->
</body>

</html>

<!-- ============Script============== -->
<!-- responsive tabs -->
<script src="/js/jquery-1.9.1.min.js"></script>
<script src="/js/easyResponsiveTabs.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		//Horizontal Tab
		$('#parentHorizontalTab').easyResponsiveTabs({
			type: 'default', //Types: default, vertical, accordion
			width: 'auto', //auto or any width like 600px
			fit: true, // 100% fit in a container
			tabidentify: 'hor_1', // The tab groups identifier
			activate: function (event) { // Callback function if tab is switched
				var $tab = $(this);
				var $info = $('#nested-tabInfo');
				var $name = $('span', $info);
				$name.text($tab.text());
				$info.show();
			}
		});
	});
</script>
<!-- responsive tabs -->
<!-- script for banner slider -->
<script src="/js/owl.carousel.js"></script>
<script>
	$(document).ready(function () {
		$('.owl-one').owlCarousel({
			stagePadding: 280,
			loop: true,
			margin: 20,
			nav: true,
			responsiveClass: true,
			autoplay: true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					stagePadding: 40,
					nav: false
				},
				480: {
					items: 1,
					stagePadding: 60,
					nav: true
				},
				667: {
					items: 1,
					stagePadding: 80,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	});
</script>
<script>
	$(document).ready(function () {
		$('.owl-three').owlCarousel({
			loop: true,
			margin: 20,
			nav: false,
			responsiveClass: true,
			autoplay: true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 2,
					nav: false
				},
				480: {
					items: 2,
					nav: true
				},
				667: {
					items: 3,
					nav: true
				},
				1000: {
					items: 5,
					nav: true
				}
			}
		})
	});
</script>

<!-- mid-script  -->
<script>
	$(document).ready(function () {
		$('.owl-mid').owlCarousel({
			loop: true,
			margin: 0,
			nav: false,
			responsiveClass: true,
			autoplay: true,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	});
</script>
<!-- mid-script  -->
<!-- script for owlcarousel  -->
<script src="/js/jquery.magnific-popup.min.js"></script>
<script>
	$(document).ready(function () {
		$('.popup-with-zoom-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-zoom-in'
		});

		$('.popup-with-move-anim').magnificPopup({
			type: 'inline',

			fixedContentPos: false,
			fixedBgPos: true,

			overflowY: 'auto',

			closeBtnInside: true,
			preloader: false,

			midClick: true,
			removalDelay: 300,
			mainClass: 'my-mfp-slide-bottom'
		});
	});
</script>
<!-- <script>
	$('.menu').on('click', 'li', function () {
		$(this).addClass('active').siblings().removeClass('active');
	});
</script> -->
